<section class="component">
    <h1>{{repoAndComponent}}</h1>
    <ul class="meta">
        <li>{{componentLink repoAndComponent}}</li>
        <li>Number of sims that use this component: {{numSims}}</li>
    </ul>

    {{markdown}}

    <section class="sims container-fluid">
        <h2>Sim Examples</h2>
    {{#each sims as |imgList|}}
        <div>
            <h3>{{@key}}</h3>
            <ul>
            {{#each imgList}}
                <li><img src="{{this}}"></li>
            {{/each}}
            </ul>
        </div>
    {{/each}}
    </section>
</section>